// .row{
//     max-width: $grid-width;
//     background-color: pink;
//     margin: 0 auto;
// }


.grid{
    //border: 3px solid blue;
    display: grid;
    max-width: $grid-width;
    //background-color: lightblue;
    margin: 0 auto;
    column-gap: $gutter-horizontal;
    row-gap: $gutter-vertical;

    &:not(:last-child){
        margin-bottom: 9.6rem;
    }

    & > *{
        //border: 2px solid red;
    } 
    
}

.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols{
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols{
    grid-template-columns: repeat(5, 1fr);
}